html, body {
  background-color: #000000;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}
  
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;   
  font-family: Arial, sans-serif; 
}

main {
  flex: 1;
  width: 100%;
  padding: 20px; /* Espaciado opcional */
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

/* Posicion del NavBar */
.navbar {
  position: relative;
  background-color: #333;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-list > li {
  margin-right: 20px;
  position: relative;
}

.nav-list > li > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 10px;
  z-index: 10;
}

.dropdown:hover .dropdown-menu {
  display: block;
  color: #f0c040;
}

.dropdown-menu li {
  margin: 5px 0;
}

.dropdown-menu li a {
  text-decoration: none;
  color: black;
}

/* Logo */
.logo {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}

/* Carrito de compras */
.cart-widget {
  position: fixed;    
  top: 10px;             
  right: 10px;         
  display: flex;         
  align-items: center;   
  background-color: white; 
  padding: 10px;
  border-radius: 8px;    
  box-shadow: 0 1px 20px white;  
}

.cart-widget img {
  width: 32px;          
  height: auto;
}

.cart-widget span {
  font-size: 18px;       
  margin-left: 20px;  
  margin-right: 20px;  
  color: black;
}

